In [1]:
import os
import requests
import dotenv
import numpy as np
import pandas as pd
import alpaca_trade_api as alpaca_api
import ccxt

%matplotlib inline

In [2]:
dotenv.load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")

print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [4]:
alpaca = alpaca_api.REST(alpaca_api_key, alpaca_secret_key, api_version="v2")

In [5]:
faangmula_tickers = ["AAPL", "ABNB", "AMZN", "FB", "GOOG", "LYFT", "MSFT", "NFLX", "UBER"]
start = pd.Timestamp("2015-12-01", tz="America/New_York").isoformat()
# end = pd.Timestamp("2020-08-14", tz="America/New_York").isoformat()

faangmula_original = alpaca.get_bars(faangmula_tickers, alpaca_api.TimeFrame.Day, start = start).df
faangmula_original

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,118.73,118.81,116.860,117.34,34852374,187129,117.756760,AAPL
2015-12-02 05:00:00+00:00,117.00,118.11,116.080,116.28,33385643,180616,117.151198,AAPL
2015-12-03 05:00:00+00:00,116.55,116.79,114.220,115.20,41560785,245330,115.434888,AAPL
2015-12-04 05:00:00+00:00,115.20,119.25,115.110,119.03,57776977,307788,118.187290,AAPL
2015-12-07 05:00:00+00:00,118.98,119.86,117.810,118.28,32080754,190809,118.509111,AAPL
...,...,...,...,...,...,...,...,...
2022-03-31 04:00:00+00:00,36.50,36.73,35.370,35.68,20579119,143192,35.790343,UBER
2022-04-01 04:00:00+00:00,35.72,36.48,35.400,35.98,16747869,125135,35.914083,UBER
2022-04-04 04:00:00+00:00,36.40,36.93,36.215,36.51,20197208,146275,36.621379,UBER
2022-04-05 04:00:00+00:00,36.43,36.61,34.720,34.96,20987999,153337,35.188058,UBER
2022-04-06 04:00:00+00:00,33.82,34.00,32.550,33.41,29163174,203021,33.287397,UBER

In [6]:
faangmula = faangmula_original.drop(['open', 'high', 'low', 'volume', 'trade_count', 'vwap'], axis = 1).pivot(columns = 'symbol').dropna()
faangmula.columns = faangmula_tickers
faangmula

,AAPL,ABNB,AMZN,FB,GOOG,LYFT,MSFT,NFLX,UBER
timestamp,,,,,,,,,
2020-12-10 05:00:00+00:00,123.24,144.71,3101.49,277.12,1775.33,48.11,210.52,501.09,54.35
2020-12-11 05:00:00+00:00,122.41,139.25,3116.42,273.55,1781.77,46.87,213.26,503.22,52.63
2020-12-14 05:00:00+00:00,121.78,130.00,3156.97,274.19,1760.06,46.77,214.20,522.42,51.46
2020-12-15 05:00:00+00:00,127.88,124.80,3165.12,275.55,1767.77,49.30,214.13,519.78,51.00
2020-12-16 05:00:00+00:00,127.81,137.99,3240.96,275.67,1763.00,49.91,219.28,524.83,50.49
...,...,...,...,...,...,...,...,...,...
2022-03-31 04:00:00+00:00,174.61,171.76,3259.95,222.36,2792.99,38.40,308.31,374.59,35.68
2022-04-01 04:00:00+00:00,174.31,173.07,3271.20,224.85,2814.00,37.52,309.42,373.47,35.98
2022-04-04 04:00:00+00:00,178.44,177.02,3366.93,233.89,2872.85,38.96,314.97,391.50,36.51
2022-04-05 04:00:00+00:00,175.06,171.21,3281.10,231.84,2821.26,37.15,310.88,380.15,34.96
2022-04-06 04:00:00+00:00,171.59,164.66,3175.12,223.30,2743.52,36.08,299.50,368.35,33.41

In [7]:
#faangmula.columns = faangmula_tickers
#faangmula

In [8]:
def random_portfolios_generator(tickers, n):
    random_portfolios = pd.DataFrame(tickers, columns = ['ticker'])
    for n in range(0, n):
        random_portfolios[f'random weights {n+1}'] = [np.random.rand() for i in range (0, 9)]
        random_portfolios[f'random weights {n+1}'] = random_portfolios[f'random weights {n+1}'] / sum(random_portfolios[f'random weights {n+1}'])
    return(random_portfolios)

In [9]:
random_faangmula = random_portfolios_generator(faangmula_tickers, 1)
random_faangmula

  ticker  random weights 1
0   AAPL          0.178743
1   ABNB          0.120622
2   AMZN          0.068517
3     FB          0.134269
4   GOOG          0.171322
5   LYFT          0.039355
6   MSFT          0.044206
7   NFLX          0.189249
8   UBER          0.053717

In [10]:
random_faangmula_daily_returns = faangmula.pct_change().dot(list(random_faangmula.loc[:, 'random weights 1']))
random_faangmula_daily_returns

timestamp
2020-12-10 05:00:00+00:00         NaN
2020-12-11 05:00:00+00:00   -0.007868
2020-12-14 05:00:00+00:00   -0.003677
2020-12-15 05:00:00+00:00    0.006400
2020-12-16 05:00:00+00:00    0.016740
                               ...
2022-03-31 04:00:00+00:00   -0.018441
2022-04-01 04:00:00+00:00    0.002785
2022-04-04 04:00:00+00:00    0.030205
2022-04-05 04:00:00+00:00   -0.023514
2022-04-06 04:00:00+00:00   -0.031045
Length: 333, dtype: float64

In [11]:
# Market capitalization data in trillions of dollars, sourced from Trading View on April 6, 2022.

faangmula_caps_list = [2.804, 0.105855, 1.616, 0.60781, 1.81, 0.012576, 2.245, 0.163534, 0.065299]
faangmula_cap_portfolio = pd.DataFrame({'tickers':faangmula_tickers, 'weights':[market_cap / sum(faangmula_caps_list) for market_cap in faangmula_caps_list]})
faangmula_cap_portfolio

  tickers   weights
0    AAPL  0.297347
1    ABNB  0.011225
2    AMZN  0.171367
3      FB  0.064454
4    GOOG  0.191939
5    LYFT  0.001334
6    MSFT  0.238068
7    NFLX  0.017342
8    UBER  0.006925

In [12]:
mcw_faangmula_daily_returns = faangmula.pct_change().dot(list(faangmula_cap_portfolio.loc[:, 'weights']))
mcw_faangmula_daily_returns

timestamp
2020-12-10 05:00:00+00:00         NaN
2020-12-11 05:00:00+00:00    0.001183
2020-12-14 05:00:00+00:00   -0.000680
2020-12-15 05:00:00+00:00    0.015893
2020-12-16 05:00:00+00:00    0.010481
                               ...
2022-03-31 04:00:00+00:00   -0.019095
2022-04-01 04:00:00+00:00    0.003165
2022-04-04 04:00:00+00:00    0.024182
2022-04-05 04:00:00+00:00   -0.018331
2022-04-06 04:00:00+00:00   -0.029120
Length: 333, dtype: float64