In [1]:
import os
import requests
import dotenv
import numpy as np
import pandas as pd
import alpaca_trade_api as alpaca_api
import ccxt

%matplotlib inline

In [2]:
dotenv.load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")

print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [4]:
alpaca = alpaca_api.REST(alpaca_api_key, alpaca_secret_key, api_version="v2")

In [5]:
faangmula_tickers = ["FB", "AMZN", "AAPL", "NFLX", "GOOG", "MSFT", "UBER", "LYFT", "ABNB"]
start = pd.Timestamp("2015-12-01", tz="America/New_York").isoformat()
# end = pd.Timestamp("2020-08-14", tz="America/New_York").isoformat()

faangmula_original = alpaca.get_bars(faangmula_tickers, alpaca_api.TimeFrame.Day, start = start).df
faangmula_original

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,118.73,118.8100,116.860,117.34,34852374,187129,117.756760,AAPL
2015-12-02 05:00:00+00:00,117.00,118.1100,116.080,116.28,33385643,180616,117.151198,AAPL
2015-12-03 05:00:00+00:00,116.55,116.7900,114.220,115.20,41560785,245330,115.434888,AAPL
2015-12-04 05:00:00+00:00,115.20,119.2500,115.110,119.03,57776977,307788,118.187290,AAPL
2015-12-07 05:00:00+00:00,118.98,119.8600,117.810,118.28,32080754,190809,118.509111,AAPL
...,...,...,...,...,...,...,...,...
2022-03-30 04:00:00+00:00,36.53,37.0885,36.205,36.58,22300450,161536,36.501682,UBER
2022-03-31 04:00:00+00:00,36.50,36.7300,35.370,35.68,20579119,143192,35.790343,UBER
2022-04-01 04:00:00+00:00,35.72,36.4800,35.400,35.98,16747869,125135,35.914083,UBER
2022-04-04 04:00:00+00:00,36.40,36.9300,36.215,36.51,20197208,146275,36.621379,UBER
2022-04-05 04:00:00+00:00,36.43,36.6100,34.720,34.96,20987999,153337,35.188058,UBER

In [6]:
faangmula = faangmula_original.drop(['open', 'high', 'low', 'volume', 'trade_count', 'vwap'], axis=1).pivot(columns = 'symbol').dropna()
faangmula

                            close                                           \
symbol                       AAPL    ABNB     AMZN      FB     GOOG   LYFT
timestamp
2020-12-10 05:00:00+00:00  123.24  144.71  3101.49  277.12  1775.33  48.11
2020-12-11 05:00:00+00:00  122.41  139.25  3116.42  273.55  1781.77  46.87
2020-12-14 05:00:00+00:00  121.78  130.00  3156.97  274.19  1760.06  46.77
2020-12-15 05:00:00+00:00  127.88  124.80  3165.12  275.55  1767.77  49.30
2020-12-16 05:00:00+00:00  127.81  137.99  3240.96  275.67  1763.00  49.91
...                           ...     ...      ...     ...      ...    ...
2022-03-30 04:00:00+00:00  177.77  173.63  3326.02  227.85  2852.89  38.65
2022-03-31 04:00:00+00:00  174.61  171.76  3259.95  222.36  2792.99  38.40
2022-04-01 04:00:00+00:00  174.31  173.07  3271.20  224.85  2814.00  37.52
2022-04-04 04:00:00+00:00  178.44  177.02  3366.93  233.89  2872.85  38.96
2022-04-05 04:00:00+00:00  175.06  171.21  3281.10  231.84  2821.26  37.15


symbol                       MSFT    NFLX   UBER
timestamp
2020-12-10 05:00:00+00:00  210.52  501.09  54.35
2020-12-11 05:00:00+00:00  213.26  503.22  52.63
2020-12-14 05:00:00+00:00  214.20  522.42  51.46
2020-12-15 05:00:00+00:00  214.13  519.78  51.00
2020-12-16 05:00:00+00:00  219.28  524.83  50.49
...                           ...     ...    ...
2022-03-30 04:00:00+00:00  313.86  381.47  36.58
2022-03-31 04:00:00+00:00  308.31  374.59  35.68
2022-04-01 04:00:00+00:00  309.42  373.47  35.98
2022-04-04 04:00:00+00:00  314.97  391.50  36.51
2022-04-05 04:00:00+00:00  310.88  380.15  34.96

[332 rows x 9 columns]

In [7]:
def random_portfolios_generator(tickers, n):
    random_portfolios = pd.DataFrame(tickers, columns = ['ticker'])
    for n in range(0, n):
        random_portfolios[f'Random Portfolio {n+1}'] = [np.random.rand() for i in range (0, 9)]
        random_portfolios[f'Random Portfolio {n+1}'] = random_portfolios[f'Random Portfolio {n+1}'] / sum(random_portfolios[f'Random Portfolio {n+1}'])
    return(random_portfolios)

In [9]:
random_faangmula = random_portfolios_generator(sorted(faangmula_tickers), 1)
random_faangmula

  ticker  Random Portfolio 1
0   AAPL            0.106104
1   ABNB            0.122927
2   AMZN            0.077337
3     FB            0.027007
4   GOOG            0.180806
5   LYFT            0.220949
6   MSFT            0.033566
7   NFLX            0.037628
8   UBER            0.193675

In [8]:
faangmula_returns = pd.DataFrame(faangmula.pct_change().reset_index())
faangmula_returns

                       timestamp     close                                \
symbol                                AAPL      ABNB      AMZN        FB
0      2020-12-10 05:00:00+00:00       NaN       NaN       NaN       NaN
1      2020-12-11 05:00:00+00:00 -0.006735 -0.037731  0.004814 -0.012883
2      2020-12-14 05:00:00+00:00 -0.005147 -0.066427  0.013012  0.002340
3      2020-12-15 05:00:00+00:00  0.050090 -0.040000  0.002582  0.004960
4      2020-12-16 05:00:00+00:00 -0.000547  0.105689  0.023961  0.000435
..                           ...       ...       ...       ...       ...
327    2022-03-30 04:00:00+00:00 -0.006650 -0.010768 -0.017801 -0.008744
328    2022-03-31 04:00:00+00:00 -0.017776 -0.010770 -0.019865 -0.024095
329    2022-04-01 04:00:00+00:00 -0.001718  0.007627  0.003451  0.011198
330    2022-04-04 04:00:00+00:00  0.023693  0.022823  0.029264  0.040205
331    2022-04-05 04:00:00+00:00 -0.018942 -0.032821 -0.025492 -0.008765


symbol      GOOG      LYFT      MSFT      NFLX      UBER
0            NaN       NaN       NaN       NaN       NaN
1       0.003627 -0.025774  0.013015  0.004251 -0.031647
2      -0.012185 -0.002134  0.004408  0.038154 -0.022231
3       0.004381  0.054095 -0.000327 -0.005053 -0.008939
4      -0.002698  0.012373  0.024051  0.009716 -0.010000
..           ...       ...       ...       ...       ...
327    -0.004227 -0.037600 -0.004914 -0.026415 -0.016402
328    -0.020996 -0.006468 -0.017683 -0.018035 -0.024604
329     0.007522 -0.022917  0.003600 -0.002990  0.008408
330     0.020913  0.038380  0.017937  0.048277  0.014730
331    -0.017958 -0.046458 -0.012985 -0.028991 -0.042454

[332 rows x 10 columns]